<main id="docs">
  {{#if model.warnings}}
    <div class='warning'>
      <ul class='grid'>
        {{#each model.warnings as |warning|}}
          <li>
            <a href="vscode://open={{warning.file}}">
              {{svg-jar 'warn-solid'}}
              {{warning.line}}<br>
              {{warning.message}}
            </a>
          </li>
        {{/each}}
      </ul>
    </div>
  {{/if}}
  <div class='grid'>
    <nav>
      {{#if model.components}}
        <h3>Components</h3>
        <ul>
          {{#each model.components as |component|}}
            <li>{{#link-to 'component' component.name}}{{concat '{{' component.name '}}'}}{{/link-to}}</li>
        {{/each}}
        </ul>
      {{/if}}
      {{#if model.helpers}}
        <h3>Helpers</h3>
        <ul>
          {{#each model.helpers as |helper|}}
            <li>{{#link-to 'helper' helper.name}}{{concat '{{' helper.name '}}'}}{{/link-to}}</li>
          {{/each}}
        </ul>
      {{/if}}
      {{#if model.services}}
        <h3>Services</h3>
        <ul>
          {{#each model.services as |service|}}
            <li>{{#link-to 'service' service.name}}{{service.name}}{{/link-to}}</li>
          {{/each}}
        </ul>
      {{/if}}
      {{#if model.objects}}
        <h3>Objects</h3>
        <ul>
          {{#each model.objects as |object|}}
            <li>{{#link-to 'system' object.name}}{{object.name}}{{/link-to}}</li>
          {{/each}}
        </ul>
      {{/if}}
    </nav>
    <div>
      {{outlet}}
    </div>
  </div>
</main>
