<h2>{{concat '{{' model.name '}}'}}</h2>

<div class='grid'>
  {{markdown-to-html model.description}}

  {{#each model.attributes as |attribute|}}
    {{attribute.name}}
    {{markdown-to-html attribute.description}}
  {{/each}}
</div>
