<h2>{{model.name}}</h2>

<div class='grid'>
  {{markdown-to-html model.description}}
  {{#each model.params as |param|}}
    <span class="{{if param.optional 'optional'}}">{{param.name}}</span>
    {{markdown-to-html param.description}}
  {{/each}}

  {{#each model.classitems as |attribute|}}
    {{attribute.name}}
    {{markdown-to-html attribute.description}}
    {{#each attribute.params as |param|}}
      <span class="{{if param.optional 'optional'}}">{{param.name}}</span>
      {{markdown-to-html param.description}}
    {{/each}}
  {{/each}}
</div>
